nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}


.anchoLetra {
    font-size: 2em;
}

.imagenDegradado{
    opacity: 0.8;
}

@media only screen and (min-width: 993px) {
    #index-banner{
        height: 650px;
    }
    .logoSizeNav{
        width: 19vh;
    }
    .logoImgSize{
        width: 50%;
    }
    #habilidades{
        height: 620px;
    }
    .textSize{
       font-size: 150%; 
    }
    .nav-mobil{
        display: none;
    }
    
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    .textoSobreMi {
        margin-top: -35%;
    }
    #sobreMi{
        height: 95vh;
    }
    .nav-mobil{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .textoSobreMi {
        margin-top: -65%;
    }
    .anchoLetra {
        font-size: 1.5em;
        margin-top: 0;
    }
    .logoSizeNav{
        width: 16vh;
        margin-left: 85%;
    }
    .logoImgSize{
        display: flex;
        float: left;
        width: 30vh;
    }
    .margenTopLogo{
        margin-top: 5%;
    }
    #sobreMi{
        height: 95vh;
    }
    .navbar-fixed{
        display: none;
    }
    .nav-mobil{
        display: block;
    }
}



.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.margenImagen {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bordeLetra {
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
}

.anchoImagen {
    width: 50%;
}

.anchoImagenCss {
    width: 55%;
}

.interlineado {
    line-height: 1.5em;
}

.side-nav {
    width: 150px;
    background-color: #009688;
}

#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0.10);
}
